@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Sora:wght@400;700&display=swap");

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  /* --orange: rgb(221, 155, 94); */
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

body {
  font-family: Sora, "sans-serif";
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
  width: 100%;
}

/*---------------------------

---------------------------*/

.navbar {
  box-shadow: var(--box-shadow);
}

.logo {
  width: 160px;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.navbar .nav-link {
  color: #fff !important;
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0;
}

main {
  padding:50px;
}

main h1 {
  font-weight:400;
  text-align: center;
}

nav {
  display: block;
  position: fixed;
  background-color: #ffffff;
  width: 220px;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1rem;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}

.toggle-btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
  top: 4px;
}

.toggle-btn span:nth-child(2) {
  top: 14px;
}

.toggle-btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle-btn span {
  background-color: #fff;
}

.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

/*--------------------------------
全体
---------------------------------*/
.hero {
  background-image: url(./img/profile/img00.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(37, 39, 71, 0.7);
  z-index: -1;
}

#contents {
  padding: 100px 0;
}

/*--------------------------------
　ヘッダー
---------------------------------*/
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: auto;
  background-image: url(./img/images/img00.jpg);
}
.jumbotron{
  height:auto;
}
.img-fluid{
  max-width: 100%;
  height:auto;
}
#header .logo {
  display: block;
}

#header .logo-name {
  display: block;
  font-family: 'Poppins', 'cursive';
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

#header .logo-title {
  font-family: 'Poppins', 'serif';
  font-size: 120px;
  font-weight: normal;
  color: black;
  line-height: 1;
  letter-spacing: .1em;
}

#header .logo-desc {
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", 'serif';
  display: block;
  font-size: 50px;
  letter-spacing: .2em;
  text-align: center;
  margin-top: 10px;
  color: black;
}

#header #h1 {
  position: relative;
}

nav.link-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;

  display: inline-block;
}

li {
  overflow: hidden;
  float: left;
}

::is-active {
  background-color: main-color;
}

nav.btns {
  position: absolute;
  top: 45%;
  width: 100%;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

span {
  opacity: 1;
  transition: opacity 0.2s ease;
}

/*--------------------------------
ハンバーガーメニュー
--------------------------------*/

.hamberger {
  width:30px;
  height: 30px;
  background: #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger span {
  background: #fff;
  width: 25px;
  height: 2px;
  position:absolute;
  transition: 0.3s ease-out;
}

.hamburger span:nth-of-type(1) {
  top:15px;
}
.hamberger span:nth-of-type(3) {
  bottom: 15px;
}
.hamburger.active span:nth-of-type(1){
  transform: translateY(9px)rotate(-45deg);
  transition:0.3s ease-out;
}
.hamburger.active span:nth-of-type(3){
  transform:translateY(-9px)rotate(45deg);
  transition:0.3s ease-out;
}
.hamburger:active span:nth-of-type(2) {
  opacity: 0;
}

.loading-txt {
  text-align: center;
  width: 100%;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*--------------------------------
　グローバルナビ
---------------------------------*/

#gnav {
  /* display: flex; */
  padding: 10px;
  font-family: 'Cormorant Garamond', serif;
  /* position: relative; */
  z-index: 300;
  color:black;
}

#gnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: black;
}

#gnav li {
  padding: 0 100px;
}

#gnav li a {
  font-weight: bold;
  font-size: 25px;
  color: #333;
  letter-spacing: .1em;
  text-transform: lowercase;
}

/*--------------------------
Section
---------------------------------*/

.section .inner {
  padding: 80px 10px;
}

.section .section-title-block {
  text-align: center;
  margin-bottom: 30px;
}

.section .section-title {
  font-family: 'Cormorant Garamond', serif;
  text-transform: lowercase;
  letter-spacing: .2em;
  display: inline-block;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 10px;
  color: #c1b483;
}

.section .section-desc {
  text-align: center;
}

.two-column-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.two-column-image {
  width: 33%;
}

.two-column-image img {
  margin: 0 auto;
}

.two-column-desc {
  width: 62%;
}

/*-------------------------------
フォーム
--------------------------------*/

.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 39, 71, 0.7);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}

.project img {
  transition: all 0.4s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  transform: scale(1.1);
}

/*-------------------------------
フォーム
--------------------------------*/

.form {

  margin:20px;
  margin-bottom: 14px;
}

label {
  font-size: 25px;
  margin-bottom: 0px;
  display: block;
  color:orange;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 8px;
  padding: 10px;
  font-size: 5px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 640px;
}

textarea {
  width: 100%;
  max-width: 840px;
  height: 120px;
  margin-bottom: 40px;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
  margin-bottom: 60px;
}

::placeholder{
  color:black;
  font-size: 16px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  width: 34px;
  height: 34px;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  /* iのアイコンをaの中で中央揃えしてるみたい。
  １つの要素に対して中央に寄せるときに親要素に
  flexを付ける場合もある。 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.4s ease;
}

/*--------------------------------
Footer
---------------------------------*/

.footer-top {
  background-color: var(--dark);
  padding: 90px;
  padding-bottom: 90px;

}

.footer-top a {
  color: var(--body);
}

.footer-top a:hover {
  color: #fff;
}

#footer {
  background-color: #333;
  bottom: 10px;
  right: 10px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
}

/**/
form imput.form-contact {
  height: 54px;
}

form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.04)
}
